@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-height: 100%;
    height: 100%;
  }

  body {
    margin: 0;
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #ffffff 0%, #dfe9ff 100%);
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  @media (max-width: 768px) {
    html {
      min-height: 100vh;
    }
    
    body {
      min-height: 100vh;
      background-attachment: scroll;
      background-size: 100% 500vh;
      background-repeat: no-repeat;
    }
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.75em 0;
  }

  h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 0.83em 0;
  }

  h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 1.12em 0;
  }

  h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.5em 0;
  }

  h6 {
    font-size: 0.75em;
    font-weight: bold;
    margin: 1.67em 0;
  }

  /* Restore default paragraph margins */
  p {
    margin: 1em 0;
  }

  button {
    cursor: pointer;
  }

  a {
    color: #0066cc;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}
